/* Basic CSS Reset */

/* Remove default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Normalize styles for commonly used elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
button,
input,
textarea,
pre,
code,
abbr,
mark,
small,
sub,
sup,
var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* Make images responsive */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove hyperlink text decoration */
a {
    text-decoration: none;
    color: inherit;
}

/* Reset heading margins */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* Remove default button styles */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* VARIABLES */

:root {
    --LIGHT-FONT-COLOR: whitesmoke;
    --DARK-FONT-COLOR: rgb(36, 36, 36);
    --header-bg-opacity: 0.3;
    --header--bg-transition-timing: cubic-bezier(0.4,0,0.2,1);
}


/* STYLES */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/cyst.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0; /* Stick to the top of the viewport */
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, var(--header-bg-opacity));
    color: var(--LIGHT-FONT-COLOR);
    transition: background-color 0.5s var(--header--bg-transition-timing);
    z-index: 1000;
}

header a img {
    filter: brightness(90%);
    border: solid 1px rgba(245, 245, 245, 0);
    transition: filter 0.4s ease-in-out, border 0.4s ease-in-out;

}
header a img:hover{
    border: solid 1px rgba(245, 245, 245, 0.8);
    filter: brightness(100%);
}

/* Navigation Bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    white-space: nowrap;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
}

nav ul li a:hover {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    /* text-decoration: underline; */
}

/* Hamburger Menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 5rem;
    display: none;
    color: var(--LIGHT-FONT-COLOR);
    font-size: 60px;
}

@media (max-width: 575px) {
    .menu-toggle {
        display: block;
    }

    header img {
        min-width: 6rem;
    }

    nav ul {
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: rgba(36, 36, 36, 0.97);
        padding: 10px 20px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transition: opacity 0.6s ease;
    }

    nav ul.active {
        opacity: 1;
        transition: opacity 0.6s ease;
    }

    nav ul li {
        margin: 10px 0;
        padding-top: 1rem;
    }

}


section {
    color: var(--LIGHT-FONT-COLOR);
}

/* UTILITY */
.current_page {
    text-decoration: underline;
}

.gradient-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.568));
    z-index: 1000; /* Ensure the bar is above other content */
}

/* MAIN PAGE */

.main_page_body {
    height: 100vh;
    overflow: hidden;
}

.welcome_flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.welcome {
    flex: 1;
    z-index: 1;
    margin-top: 15rem;
    padding-left: 10rem;
    padding-right: 5rem;
    animation: blurAnimation 0.5s forwards;
    cursor: default;
}

.giardia {
    position: absolute;
    margin-left: 50%;
    z-index: 0;
}

.welcome_button {
    margin-top: 2rem;
    margin-left: 2rem;
    color: rgba(245, 245, 245, 0.753);
    border: solid 1px rgba(245, 245, 245, 0.733);
    border-radius: 20%;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(20, 20, 20, 0.3);
    transition: color 0.4s ease;
    transition: border 0.4s ease;
    transition: background-color 0.6s ease;
}

.welcome_button:hover {
    color: rgba(255, 255, 255, 0.89);
    border: solid 1px rgba(255, 255, 255, 0.89);
    background-color: rgba(20, 20, 20, 0.7);
}

.welcome hr {
    margin-bottom: 2rem;
    width: 20rem;
}

.welcome h1 {
    font-size: 2rem;
    transition: font-size 1s ease-in-out;
}

.welcome h1:hover {
    font-size: 3rem;
}

.welcome p {
    font-size: 1.5rem;
}

@media (max-width: 575px) {
    .welcome {
        padding-left: 2rem;
        padding-top: 8rem;
    }

    .giardia {
        margin-left: 45%;
    }
}


/* Define keyframes for the blur effect */
@keyframes blurAnimation {
    0% {
        filter: blur(3px); /* Initial blur */
    }
    100% {
        filter: blur(0); /* No blur */
    }
}

/* RESEARCH PAGE */
.research_page_body {
    height: 100%;
}

.research_section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media (prefers-reduced-motion) {
    .research_section {
        transition: none;
    }
}

.research_section h2 {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
}
.research_section p {
    text-align: justify;
}

.research_section .research_content {
    display: flex;
    align-items:flex-start;
}

.research_section .research_content img {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 50%;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 10001;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
}

#scrollToTopBtn:hover {
    background-color: rgba(36, 36, 36, 0.9);
}


/* PEOPLE PAGE */
.people_page_body {
    height: 200%;
}

.people_section {
    color: #b6b4b4f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 10%;
}

.person_container {
    /* background: rgba(245, 245, 245, 0.301); */
    /* background: radial-gradient(rgba(240,240,240,0.4),rgba(240,240,240,0.15)); */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    border: solid 1px var(--DARK-FONT-COLOR);
    text-align: center;
    flex: 0 1 calc(20% - 20px);
    margin-bottom: 20px;
    max-width: calc(50% - 20px);
}

.person_container img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.person_container h2 {
    margin-top: 1rem;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.person_interests {
    margin-top: 1rem;
    text-align: center;
}

.person_contact {
    margin-top: 0.5rem;
    white-space: nowrap;
}

/* PUBLICATIONS PAGE */
.publications_page_body {
    height: 100%;
}

.publications_section {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 4rem;
}

.publications_section h1 {
    font-size: 3rem;
    padding: 2.5rem;
}

.publications_section ul li {
    list-style-type: disc;
    text-align: justify;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.publications_section a {
    transition: filter 0.3s ease;
}

.publications_section a:hover {
    filter: brightness(125%);
}

.year {
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
}

@media (max-width: 575px) {
    .publications_section {
        margin-top: 8rem;
        font-size: 0.8rem;
    }

    .publications_section h1 {
        font-size: 2rem;
    }

    .year {
        font-size: 1.4rem;
    }

    .DOI {
        text-align: left;
    }
}

/* TEACHING PAGE */
.teaching_page_body {
    height: 100%;
}

.teaching_section {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
}

.teaching_section h1 {
    font-size: 3rem;
    padding: 2.5rem;
}

.teaching_section ul {
    padding-left: 1.5rem;
}

.subjects li {
    margin: 1rem;
}

.subjects a {
    transition: filter 0.5s ease-in-out;
}

.subjects a:hover {
    filter: brightness(150%);
}

.teaching_materials li {
    margin: 1rem;
}

.teaching_materials a {
    max-width: 35%;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.5rem;
    transition: filter 0.5s ease-in-out;
}

.teaching_materials a:hover {
    filter: brightness(150%);
}

@media (max-width: 575px) {
    .teaching_section {
        margin-top: 8rem;
    }

    .teaching_materials a {
        max-width: 100%;
    }
}

/* CONTACT US PAGE */
.contact_us_page_body {
    height: 100vh;
    overflow: hidden;
}

.contact_us_section {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--LIGHT-FONT-COLOR);
    border-radius: 25px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    padding-bottom: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.contact_us_section p a {
    text-decoration: underline;
}

.address-info {
    font-size: 1.2rem;
    margin: 2rem;
    flex: 1;
    padding-right: 20px;
}

#map-container {
    flex: 1;
    height: 25rem;
    border: 1px #cacaca solid;
    transition: border 0.4s ease-in-out;
    margin: 2rem;
    margin-right: 5rem;
}

#map-container:hover {
    border: 1px rgba(34, 34, 34, 0.932) solid;
}

#map {
    width: 100%; 
    height: 100%; 
}

@media (max-width: 575px) {
    .contact_us_section {
        margin-top: 8rem;
        padding-top: 1rem;
        padding-bottom: 20rem;
        display: block;
    }

    #map-container {
        height: 15rem;
        width: 80%;
        max-width: 20rem;
        margin-left: 2rem;
    }  
}